* {
  margin: 0px;
  padding: 0px;
}
body {
  font-size: 120%;
  background: #F8F8FF;
}

nav.menu ul {
  overflow:hidden;
  color:#fff;
  list-style: none;
  float:left;
  padding:0;
  width: 100%;
  margin:0 0 0;
  background: black;
  -webkit-box-shadow: 1px 1px 1px 0px rgba(204,204,204,0.55);
  -moz-box-shadow: 1px 1px 1px 0px rgba(204,204,204,0.55);
  box-shadow: 1px 1px 1px 0px rgba(204,204,204,0.55);
}
 
nav.menu ul li {
  margin:0;
  float: left;
  padding-left: 58px;
}
 
nav.menu ul a {
  padding:15px;
  display:block;
  font-weight:600;
  font-size: 16px;
  color:#fff;
  text-transform: uppercase;
  transition: all 0.5s ease;
  text-decoration: none;
}
 
nav.menu ul a:hover {
  text-decoration: underline;
  background:maroon;
}
 
header{
  background:black;
  color:#ffffff;
  padding-top:30px;
  min-height:70px;
  border-bottom: maroon 2px solid;
}

header a{
  color:#ffffff;
  text-decoration:none;
  text-transform: uppercase;
  font-size:16px;
}

header li{
  float:left;
  display:inline;
  padding: 0 20px 0 20px;
}

header #branding{
  float:left;
}

header #branding h1{
  margin:0;
}

header nav{
  float:right;
  margin-top:10px;
}

header .highlight, header .current a{
  color: maroon;
  font-weight:bold;
}
header .highlight, header .current a:hover{
  color: white;
  font-weight: bold;
}


header a:hover{
  color:maroon;
  font-weight:bold;
}

.headerbawah{
  width: 100%;
}
form, .content {
  width: 30%;
  margin: 0px auto;
  padding: 20px;
  border: 1px solid #B0C4DE;
  background: white;
  border-radius: 0px 0px 10px 10px;
}
.input-group {
  margin: 10px 0px 10px 0px;
}
.input-group label {
  display: block;
  text-align: left;
  margin: 3px;
}
.input-group input {
  height: 30px;
  width: 93%;
  padding: 5px 10px;
  font-size: 16px;
  border-radius: 5px;
  border: 1px solid gray;
}
.btn {
  padding: 10px;
  font-size: 15px;
  color: white;
  background: #5F9EA0;
  border: none;
  border-radius: 5px;
}
.error {
  width: 92%; 
  margin: 0px auto; 
  padding: 10px; 
  border: 1px solid #a94442; 
  color: #a94442; 
  background: #f2dede; 
  border-radius: 5px; 
  text-align: left;
}
.success {
  color: #3c763d; 
  background: #dff0d8; 
  border: 1px solid #3c763d;
  margin-bottom: 20px;
}